/* NORMALIZE */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary);
  color: var(--grey);
  min-height: 1vh;
}

/* width */
::-webkit-scrollbar {
  width: 0.7em;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15pt;
  background: var(--primary);
  overflow-y: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

/* VARIABLES*/
:root {
  /*Pallette*/
  --primary:#FBF5F3;
  --secondary:#202020;
  --grey:#545C52;
  --accent:#ED2327;
  /* Font Sizes */
  --text-xxl: 4.7em;
  --text-xl: 3.5em;
  --text-xl2: 3.1em;
  --text-lg: 1.9em;
  --text-sm: 1.6em;
  --text-xs: 1.3em;
  /* Spacings */
  --space-xxl: 12rem;
  --space-xl: 8rem;
  --space-lg: 5rem;
  --space-md: 3.2rem;
  --space-sm: 1.6rem;
  --space-xs: 0.8rem;
}

header {
  height: var(--space-xxl);
  display: flex;
  justify-content: center;
  background-color: var(--primary);
}
header .navbar {
  margin: 0 auto;
  width: 100vw;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar ul {
  list-style: none;
  display: flex;
}
header .navbar ul li a {
  margin: 0 0.8rem 0 0.8rem;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--grey);
  font-size: var(--text-lg);
  transition: 0.2s ease-in-out;
}
header .navbar ul li a:hover {
  color: var(--accent);
  border-bottom: 0.2em solid var(--accent);
}

footer {
  height: var(--space-xl);
  width: 100%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: var(--text-sm);
}

#banner {
  height: 34.5rem;
  background-image: url(../../resources/home41-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

#banner2 {
  height: 34.5rem;
  background-image: url(../../resources/12.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#banner3 {
  height: 34.5rem;
  background-image: url(../../resources/2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}
.container .box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 34.5rem;
  background-color: var(--primary);
  padding: var(--space-xl);
}
.container .box .box_title {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-right: 0.2em solid var(--accent);
}
.container .box .box_title h1 {
  color: var(--accent);
  font-size: var(--text-xl);
}
.container .box .box_title h2 {
  color: var(--accent);
  font-size: var(--text-lg);
}
.container .box .box_title p {
  font-size: var(--text-sm);
}
.container .box .box_text {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: var(--text-xs);
  padding: 2.5em;
}
.container .bg-color--secondary {
  background-color: var(--secondary);
  font-size: var(--text-xs);
}
.container .bg-color--secondary a {
  text-decoration: none;
  color: var(--primary);
  transition: 0.2s ease-in-out;
}
.container .bg-color--secondary a:hover {
  color: var(--accent);
}
.container .cont-3 {
  color: var(--accent);
  font-size: var(--text-xl);
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}
.container .cont-3 p {
  color: var(--primary);
}

.titleBox {
  height: var(--space-xxl);
  display: flex;
  flex-direction: column;
  padding: var(--space-xxl);
  justify-content: center;
  text-transform: uppercase;
}
.titleBox h1 {
  color: var(--accent);
  font-size: var(--text-xxl);
}
.titleBox p {
  font-size: var(--text-sm);
}

.box2 {
  width: 100%;
}
.box2 .box_title {
  padding: var(--space-sm);
  border-top: 0.2rem solid var(--grey);
  border-bottom: 0.2rem solid var(--grey);
}
.box2 .box_title h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--text-xl);
  color: var(--primary);
}
.box2 .box_location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 36rem;
  color: var(--primary);
  margin: var(--space-xl);
}
.box2 .box_location div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.box2 .box_location div a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: var(--accent);
  text-align: center;
}
.box2 .box_location div a i {
  font-size: var(--space-md);
  margin-right: var(--space-sm);
  margin-top: 0.3rem;
}
.box2 .box_location div ul {
  padding-left: var(--space-sm);
}
.box2 .box_location div h3 {
  font-size: var(--text-xl);
}
.box2 .box_location div p {
  font-size: var(--text-lg);
}
.box2 .box_location iframe {
  height: 38rem;
  width: 50rem;
}

.container_products {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_products article {
  padding: 1em;
}
.container_products article h2 {
  font-size: var(--text-lg);
  padding: 1em;
  border-bottom: var(--secondary) 0.1em solid;
}
.container_products article h2:hover {
  border-bottom: var(--accent) 0.1em solid;
  transition: all 0.2s ease-in-out;
}
.container_products article div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
.container_products article div figure img {
  height: 30em;
  width: 30em;
}
.container_products article .product_title {
  display: flex;
  flex-direction: row;
  gap: 0;
  margin-bottom: var(--space-lg);
  text-transform: uppercase;
}
.container_products article .products figure, .container_products article .products section {
  display: none;
}
.container_products article .products .sample {
  display: flex;
}
.container_products article .sample, .container_products article .fibras, .container_products article .blancos, .container_products article .articulosTecnicos, .container_products article .confeccion, .container_products article .guatas, .container_products article .limpieza {
  transition: all 0.7s ease-in-out;
}

/*# sourceMappingURL=index.css.map */
