/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary);
    color: var(--grey);
    min-height: 1vh;
}


/* width */
::-webkit-scrollbar {
    width: 0.7em;
    // border-radius: 50%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display: none;
    // bord 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      border-radius: 15pt;
      background: var(--primary); 
      overflow-y: hidden;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--accent); 
  }