#banner {
    height: 34.5rem;
    background-image: url(../../resources/home41-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

#banner2 {
    height: 34.5rem;
    background-image: url(../../resources/12.jpg);
    background-position: center;
}

